<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
</head>

<body>
    <h1>Введите логин и пароль</h1>
    <div th:if="${param.error}">
        Неверный логин или пароль!
    </div>
    <div th:if="${param.logout}">
        Успешный выход из системы.
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <input type="text" name="username" placeholder="Логин"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="Пароль"/>
        </div>
        <input type="submit" value="Войти"/>
    </form>
</body>
</html>